@font-face{font-family: "gaming"; src: url(8514oem.ttf);}
.kotakup{
    position: sticky;
    margin: 0%;
    top: 0px;
    z-index: 1;
}
a{
  color: white;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
}
.kotakupp{

    background-color: #f1f1f1;
    border: solid#f1f1f1;
}
.kotakupp1{
    width: 50%;
    border-radius: 20px;
}
.garisup{
    background-color:#00aec9;
    width: 100%; color: #ffffff;
}
#tombol{
    background-color: #00aec9; 
    border: solid#00aec9; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #ffffff;font-size: 18pt; 
    float: right;font-weight: bold;
    text-decoration: none   ;
}
#tombolpopup{
    background-color: #00aec9; 
    border: solid  #00aec9;
    font-family: Arial, Helvetica, sans-serif; 
    color: #ffffff;
    font-size: 18pt; 
    float: left;font-weight: bold;
    cursor: pointer;
}
#tombolmenu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00aec9; 
    color: #ffffff;
    font-size: 18pt;
    border: solid#3a363a;
    border-radius: 10px;
}
body,html{
  margin: 0;
}
.bgnya{
 
    margin: 0;
    height: 100%;
    background: url(background.jpg);
}
.article-margin{
  text-align: right;
}
.desainbawah1{
    bottom: 0%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.486);
    height: 1000px;
    margin-top: 30px;
}
.desainbawah_admin{
  bottom: 0%;
  width: 50%;
  margin: auto;
  background-color: #f1f1f1;
  margin-top: 30px;
  font-size: 18pt;
  height: 500px;
}
.desainbawah_admin input:hover{
  border-radius: 10px;
  background-color: #c5c2c2;
}
.desainbawah2{
    color: #f1f1f1; 
    font-size:12pt; 
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.desainbawah2 h3:hover{
    color: #f1f1f1; 
    font-size:12pt; 
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.desainbawah2 h3:hover{
    color: #f1f1f1; 
    font-size:12pt; 
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.desainbawah3{
    
    color: #f1f1f1; 
    font-size:25pt;
    text-align: justify; 
    font-family: 'gaming'; 
    font-weight:bold;
    font-size: 10pt;
    padding: 20px;
}
.header{
    color: #f1f1f1; 
    font-size:12pt;
    text-align: center; 
    font-family: 'gaming';
    font-weight:bold;
    font-size: 50pt;
}
/*desain untuk pop up sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#00aec9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/*dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #00aec9;
    min-width: 200px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: #018296; 
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.sidenav label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav label:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*slide show*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.desain_link a:hover{
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*tab*/
/*desain tab*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* tab button */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* ganti warrna ketika di tekan */
.tab button:hover {
  background-color: #ddd;
}
/* tabel aktif */
.tab button.active {
  background-color: #ccc;
}

/*tab content */
.tabcontent {
  display: none;  
  width: auto;  
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.596);
  height: 100%; 
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent2 {
  display: none;
  width: auto;  
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-top: none;
}
.desain_table{
  width: 50%;
  border: solid #111111;
  color: #000000;
}
i{
  color: #000000;
}
input{
  width: 200px;
  height: 30px;
  color: black;
  border-radius: 10px;
  border: solid black;
  background-color: #f1f1f1;
}
.desain_CB{
  width: 200px;
  height: 30px;
  color: black;
  border-radius: 10px;
  border: solid black;
  background-color: #f1f1f1;
}
.desain_tombol{
  color: white;
  border: solid #f1f1f1;
  font-size: large;
  background-color: #00aec9;
  width: 100px;

}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 96%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #00aec9;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  
}

.modal-footer {
  padding: 2px 16px;
  background-color: #00aec9;
  color: white;
}